@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(129, 94, 168, 0.8);
    --color-green: #37af65;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(36, 82, 78, 0.9), rgba(50, 50, 88, 0.6)), url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    text-align: center;
}

h1, main p {
    font-weight: bolder;
}

#survey-form, #survey-form div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#survey-form {
    margin: auto;
    padding: 20px;
    max-width: 550px;
    background-color: #1b1b30b0;
    border-radius: 10px;
}

#survey-form div {
    margin-bottom: 20px;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.8rem;
    color: #e4e4e4;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  